//Paleta de colores
$dark_primary				: #0097A7
$primary                    : #00BCD4
$light_primary              : #B2EBF2

$color_icons                : #FFFFFF 
$primay_text                : #212121
$secondary_text             : #757575

$accent_color               : #9E9E9E
$divider_color              : #BDBDBD
$ligth_color                : #BDBDBD47

$html_bg			: $ligth_color  
$container_bg		: $color_icons

$header_bg			: $primary
$header_username	: $color_icons
$header_menu_txt    : $color_icons
$footer_bg			: $dark_primary
$footer_txt			: $color_icons