header
    background-color: $header_bg
    height: 60px
    #menu-username
        color: $header_username
        text-transform: uppercase
        font-weight: bold
    .nav-item
        a 
            color: $header_menu_txt 
        .dropdown-item
            color: $secondary_text 
    #menu-salir
        color: $header_menu_txt