@import _colores
@import _fonts
@import _header
@import _footer
@import _botones

body 
    background-color: $html_bg
    #main
        .container
            background-color: $container_bg
            border-radius: 3px
            margin: 5px auto
            max-width: calc(100% - 20px)
            min-height: calc(100vh - 110px)
            padding: 20px
            .titulo-seccion  
                color: $primay_text 
                font-size: 30px
                margin-bottom: 10px
            .barra-acciones
                margin-bottom: 10px
                text-align: right
            .tabla-acciones
                text-align: center
                width: 130px
